.button{
  display: none;
}
#arrayTarget{

}
.jumbotron{
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}
#playerInput{
  border: 0px;
  border-top: 0px;
}
label{
  font-size: 25px;
}
.TimeTag{
  text-align: center;
  color: red;
}
.LevelTag{
  float: right;
  color: green;
}
.ScoreTag{
  color: #f2d044;
}

#gameContent {
  /*display: none;*/
}

/*#gameOver {
  display: none;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
  margin: 0px;
}*/

#gameOver {
    display: none;
    text-align: center;
    background-color: black;
    
    /*background: url("../img/youlose.jpeg") no-repeat center center fixed;
    background-size:100%;*/
}


#refreshButton {
object-position: center;

}
