body {
  font-family: 'Press Start 2P';
  background: url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
}
label{
  font-size: 25px;
}

.button{
  display: none;
}
.jumbotron{
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
  background-color: inherit;
  font-size: 100px;
}
.TimeTag{
  text-align: center;
  color: red;
}
.LevelTag{
  float: right;
  color:red;
}
.ScoreTag{
  color:red;
}
#gameContent {
  transition: 0.1s ease-out;
}
#arrayTarget{
font-size: 25px;
text-align: center;
animation:
}
#playerInput{
  border: 0px;
  border-top: 0px;
}
#gameOver {
    display: none;
    text-align: center;
    transition: 0.1s ease-in;
}
#victory {
  display: none;
  text-align: center;
}
#win {
  font-size: 100px;
  color: red;
}
#congrats {
  font-size: 80px;
  color: white;
}
#lose {
  font-size: 100px;
  color: #B71B1B;
}
#over {
  font-size: 80px;
  color: white;
}
#refreshButton {
  font-size: 40px;
}
#startOverButton {
  display: none;
}
.bgChange{
  background: url("../img/1.png") no-repeat center center fixed;
  background-size: cover;

}
.bgChange2{
  background: url("../img/2.png") no-repeat center center fixed;
  background-size:cover;
  animation:
}
.bgChange3{
  background: url("../img/3.png") no-repeat center center fixed;
  background-size:cover;
}
.bgChange4{
  background: url("../img/4.png") no-repeat center center fixed;
  background-size:cover;
}
.bgChange5{
  background: url("../img/5.png") no-repeat center center fixed;
  background-size:cover;
}
.bgChange6{
  background: url("../img/6.png") no-repeat center center fixed;
  background-size:cover;
}
.hiddenImg{
  display: none;
}
